
*.lock
*.ide
*.ide-shm
*.ide-wal
StuffToDo/obj/Debug/App.g.cs
StuffToDo/obj/Debug/App.g.i.cs
StuffToDo/obj/Debug/GeneratedInternalTypeHelper.g.cs
*.cache
StuffToDo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
StuffToDo/obj/Debug/MainWindow.g.cs
StuffToDo/obj/Debug/MainWindow.g.i.cs
StuffToDo/obj/Debug/StuffToDo_MarkupCompile.lref
StuffToDo/obj/Debug/View/MenuGlowneView.g.cs
StuffToDo/obj/Debug/View/MenuGlowneView.g.i.cs
StuffToDo/obj/Debug/View/NotatkiView.g.cs
StuffToDo/obj/Debug/View/NotatkiView.g.i.cs
StuffToDo/obj/Debug/View/UstawieniaView.g.cs
StuffToDo/obj/Debug/View/UstawieniaView.g.i.cs
