
*.lock
*.ide
*.ide-shm
*.ide-wal
StuffToDo/obj/Debug/App.g.cs
StuffToDo/obj/Debug/App.g.i.cs
StuffToDo/obj/Debug/GeneratedInternalTypeHelper.g.cs
*.cache
StuffToDo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
StuffToDo/obj/Debug/MainWindow.g.cs
StuffToDo/obj/Debug/MainWindow.g.i.cs
StuffToDo/obj/Debug/StuffToDo_MarkupCompile.lref
StuffToDo/obj/Debug/View/MenuGlowneView.g.cs
StuffToDo/obj/Debug/View/MenuGlowneView.g.i.cs
StuffToDo/obj/Debug/View/NotatkiView.g.cs
StuffToDo/obj/Debug/View/NotatkiView.g.i.cs
StuffToDo/obj/Debug/View/UstawieniaView.g.cs
StuffToDo/obj/Debug/View/UstawieniaView.g.i.cs
.vs/StuffToDo/v16/.suo
packages/CommonServiceLocator.2.0.2/.signature.p7s
packages/CommonServiceLocator.2.0.2/CommonServiceLocator.2.0.2.nupkg
packages/CommonServiceLocator.2.0.2/lib/net40/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/net45/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/net47/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netcoreapp1.0/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netstandard1.0/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netstandard2.0/CommonServiceLocator.dll
packages/MvvmLight.5.4.1.1/.signature.p7s
packages/MvvmLight.5.4.1.1/Content/ViewModel/MainViewModel.cs.pp
packages/MvvmLight.5.4.1.1/Content/ViewModel/ViewModelLocator.cs.pp
packages/MvvmLight.5.4.1.1/MvvmLight.5.4.1.1.nupkg
packages/MvvmLight.5.4.1.1/tools/install.ps1
packages/MvvmLightLibs.5.4.1.1/.signature.p7s
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net35/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/SL5/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/MvvmLightLibs.5.4.1.1.nupkg
StuffToDo/bin/Debug/CommonServiceLocator.dll
StuffToDo/bin/Debug/GalaSoft.MvvmLight.dll
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Extras.dll
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Extras.pdb
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Extras.xml
StuffToDo/bin/Debug/GalaSoft.MvvmLight.pdb
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Platform.dll
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Platform.pdb
StuffToDo/bin/Debug/GalaSoft.MvvmLight.Platform.xml
StuffToDo/bin/Debug/GalaSoft.MvvmLight.xml
StuffToDo/bin/Debug/StuffToDo.exe
StuffToDo/bin/Debug/StuffToDo.exe.config
StuffToDo/bin/Debug/StuffToDo.pdb
StuffToDo/bin/Debug/System.Windows.Interactivity.dll
StuffToDo/obj/Debug/App.baml
StuffToDo/obj/Debug/MainWindow.baml
StuffToDo/obj/Debug/StuffToDo.csproj.CopyComplete
StuffToDo/obj/Debug/StuffToDo.csproj.FileListAbsolute.txt
StuffToDo/obj/Debug/StuffToDo.exe
StuffToDo/obj/Debug/StuffToDo.g.resources
StuffToDo/obj/Debug/StuffToDo.pdb
StuffToDo/obj/Debug/StuffToDo.Properties.Resources.resources
StuffToDo/obj/Debug/StuffToDo_MarkupCompile.i.lref
StuffToDo/obj/Debug/View/MenuGlowneView.baml
StuffToDo/obj/Debug/View/NotatkiView.baml
StuffToDo/obj/Debug/View/UstawieniaView.baml
